<!DOCTYPE html>
<html>
  <head>
    <title>Mad Lib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Mad Lib Story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Enter the coordinates to place the queen on the board.</h1>
    <form action="/queenattack" method="post">
     <label for="queenx">What is the X coordinate?</label>
     <input id="queenx" name="queenx" type="text">
     <label for="queeny">What is the Y coordinate?</label>
     <input id="queeny" name="queeny" type="text">
     <label for="xattack">What is the x coordinate of the space to attack?</label>
     <input id="xattack" name="xattack" type="text">
     <label for="yattack">What is the y coordinate of the space to attack?</label>
     <input id="yattack" name="yattack" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
